.container {
    background: rgb(57, 56, 56);
    width: 100%;
    padding: 1rem;
}
.loginSection {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}
.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px; 
    text-align: center;
    padding-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    height: 2rem;
}
.input {
    height: 1.5rem;
}
.btn {
    height: 2.4rem;
    width: 6rem;
    border-radius: 3px;
    margin-left: 2rem;
}