.container {
    background: grey;
    margin: 2rem;
    padding: 1rem;
    border-radius: 6px;
}
.para {
    color: rgb(246, 192, 192);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background: grey;;
}