.container {
    height: auto;
    width: 55%;
    background-color: black;
    border: 5px solid grey;
    margin-left: 3rem;
    padding: 1rem;
}

.heading {
    color: white;
    margin: 1rem;
}
.image {
    height: 100px;
    width: 100px;
    border: 2px solid whitesmoke;
    margin-left: 11rem;
}
.imageHIDE {
    display: none;
    height: 100px;
    width: 100px;
    border: 2px solid whitesmoke;
}
.pending {
    padding: 0.5rem;
    margin-left: 3rem;
}
.error {
    color: pink;
    padding: 0.5rem;
    margin-left: 3rem;
}