.container {
    height: auto;
}

.head {
    background: black;
    height: 4rem;
}
.heading {
    font-size: 16px;
    text-align: center;
}
.letters {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    ;
}
.slash {
    font-weight: bolder;
    margin: 0.2rem;
}
.sectionbtn {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.letterButton {
    border-radius: 6px;
    width: 1.5rem;
    height: 1.5rem;
}
.lettertitle {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.results {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}
.result {
    width: 70%;
    margin: 0.5rem;
}
.statBar {
    margin-left: 7rem;
    margin-top: 1rem;
}