.container {
    height: auto;
}

.head {
    background: black;
    height: 4rem;
}
.heading {
    font-size: 16px;
    text-align: center;
}
.letters {
    padding: 2rem;
}

.lettertitle {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.results {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}
.result {
    width: 70%;
    margin: 0.5rem;
}