.container {
    height: 20rem;
    width: 70%;
    background-color: aliceblue;
    border: 5px solid grey;
}

.heading {
    color: black;
    margin: 1rem;
}
.image {
    height: 100px;
    width: 100px;
    border: 2px solid whitesmoke;
    margin-left: 3rem;
}
.imageHIDE {
    display: none;
    height: 100px;
    width: 100px;
    border: 2px solid whitesmoke;
}
.pending {
    padding: 0.5rem;
    margin-left: 3rem;
}
.error {
    color: pink;
    padding: 0.5rem;
    margin-left: 3rem;
}