.head {
    background: black;
    height: 4rem;
}
.heading {
    font-size: 16px;
    text-align: center;
}

.lettertitle {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.results {

}
.result {
    
}