.container {
    position: relative;
    display: flex;
    background: black;
    height: 1rem;
    width: 10rem;
    border: 4px solid white;
    border-radius: 3px;
    
}

.barSection {
    display: flex;
    flex-direction: row;
}
.label {
    width: 8rem;
    height: 2rem;
}

