
.container {
    width: 100%;
    height: 100%;
    
}
.loading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    height: 5rem;;
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: left;
    margin-bottom: 3rem;
    padding: 3rem;
    padding-left: 10rem;
}
.error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    height: 5rem;;
    font-size: 20px;
    color: rgb(217, 75, 75);
    width: 100%;
    text-align: left;
    margin-bottom: 3rem;
    padding: 3rem;
    padding-left: 10rem;
}

/* search results */
.resultsSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}
.result {
    display: flex;
    background: rgb(67, 63, 63);
    flex-direction: row;
    align-items: center;
    width: 14rem;
    height: 4rem;
    margin: 0.5rem;
    margin-right: 1rem;
    border-radius: 3px;
}
.result:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.resultBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3rem;
    width: 8rem;
    margin: 0 auto;
    background: grey;
    float: left;
    border: 2px solid white;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    padding-top: 0.2rem;
}
.imageThumb {
    float: left;
    height: 3.2rem;
    width: 3rem;
    margin: 0 auto;
    margin-right: 1rem;
    border: 2px solid purple;
   
}