.container {
    background: black;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 2rem;
}
.panel {
    margin-left: 15rem;
    margin-top: 3rem;
    height: 20rem;
    background: rgb(39, 39, 39);
    color: white;
    width: 70%;
    
}