.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(57, 57, 57);
    position: fixed;
    height: 50rem;
    width: 10rem;
    color: whitesmoke;

}
.codex {
    margin: 0.5rem;
}
.tools {
    margin: 0.5rem;
}
.sectionNotActive {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgb(21, 21, 21);
    padding: 0.2rem;
    
}
.sectionActive {
  color: grey;
}
