.container {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background: rgb(22, 22, 22);
    margin-bottom: 0;
    padding: 0;
    
}

.buttons {
    margin-left: 70%;
}

.btn {
    background: grey;
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
    height: 3rem;
    width: 6rem;
    border-radius: 6px;
   
}

.btn:hover {
  background: black;
  cursor: pointer;
}