.container {
    display: flex;
    height: 3rem;
    flex-direction: row;
    background: rgb(119, 154, 68);
    padding: 2rem;
}
.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 1rem;
}
.icon {
    align-self: center;
    margin-left: 60%;
}