.container {
    display: flex;
   
    flex-direction: row;
    background: rgb(206, 72, 83);
    padding: 1rem;
    height: 3rem;
    
}
.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 1rem;
}
.icon {
    align-self: center;
    margin-left: 60%;
}